body {
    background-color: rgb(135, 118, 168);
    text-align: center;
    
}


.cal {
    width: 35%;
    background-color: rgb(91, 233, 186);
    padding: 10px;
    border-radius: 10px;

    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    column-gap: 5px;
    row-gap: 5px;
    padding: 20px;
    margin: auto;
    box-shadow: 4px 4px black;
}

.btn {
    justify-self: center;
    color: white;
    background-color: black;
    border-radius: 8px;
}

#display{
    background-color: white;
    grid-column: 1 / span 4;
    width: 89%;
    justify-self: center;
    height:30px;
    margin-bottom: 10px;
    border: 2px solid black;
    text-align: end;
    padding-right:5px;
}
.btn {
    width: 3em;
    text-align: center;
    padding: 5px;
    margin: 3px;
}